body {
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    margin: 0;
    color: #fff;
    overflow: hidden;
}

main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2.8fr 7fr;
    grid-template-rows: 1.2fr 8.8fr 1.5fr;
}

@media screen and (max-width: 1100px) {
    main {
        overflow-x: auto;
    }
    .album-details {
        display: none;
    }
    .control-icons .fa-solid {
        display: none;
    }
}

.navbar {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 1.5rem;
    cursor: pointer;
    width: 24rem;
}

.logo img {
    height: 2.5rem;
}

.search-area {
    width: 34rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 22rem; */
}

.search-area > i {
    font-size: 1.5rem;
    padding: 0.8rem;
    background-color: #242424;
    border-radius: 32px;
    cursor: pointer;
    opacity: 75%;
    &:hover {
        opacity: 100%;
    }
}

.search-button {
    height: 3rem;
    width: 30rem;
    background-color: #242424;
    border-radius: 50px;
    margin: 0 0.5rem;
    color: #ffffffaf;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    &:hover {
        background-color: #343434e8;
        border: 1px solid #484848;
    }
}

.search-info {
    display: flex;
    align-items: center;
}

.search-info > i {
    font-size: 1.5rem;
}

.search-info > span {
    font-size: 0.9rem;
    padding-left: 12px;
}

.search-button > img {
    height: 1.5rem;
    padding-left: 1rem;
    border-left: 1px solid white;
    opacity: 70%;
    &:hover {
        opacity: 100%;
    }
}

.additional-info {
    width: 26rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    column-gap: 0.5rem;
    margin-right: 0.5rem;
}

.premium-btn, .install-btn {
    height: 2rem;
    width: 9rem;
    border-radius: 50px;
    border-style: none;
    font-weight: 700;
    cursor: pointer;
}

.install-btn {
    width: 6.5rem;
    background-color: #000;
    color: #fff;
}

.bell {
    cursor: pointer;
}

.account {
    height: 2rem;
    width: 2rem;
    background-color: rgb(104, 66, 34);
    border-style: none;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar {
    background-color: #121212;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 8px;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}

.colapse-libr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    opacity: 70%;
    &:hover {
        opacity: 100%;
    }
}

.colapse-libr img {
    height: 1.2rem;
}

.colapse-libr div {
    font-weight: 600;
}

.add-libr-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
    margin-right: .75rem;
}

.add, .arrow {
    font-size: 1.2rem;
    opacity: 70%;
    &:hover {
        opacity: 100%;
    }
}

.sidebar-card {
    background-color: #242424;
    margin-top: 1.5rem;
    padding: 1.3rem;
    border-radius: 10px;
}

.playlist-card {
    margin-top: 2rem;
}

.bold-font {
    font-weight: 700;
    font-size: 0.9rem;
}

.light-font {
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 600;
}

.sidebar button {
    font-weight: 700;
    margin-top: 1rem;
    border-style: none;
    border-radius: 50px;
    height: 2rem;
    width: 9rem;
}

.main-content {
    background-color: #121212;
    border-radius: 8px;
    margin-right: 0.5rem;
    overflow: auto;
    padding: 0rem 0.5rem;
    scrollbar-width: thin;
}

.sticky-navbar {
    display: flex;
    padding: 1.5rem 0.75rem;
    position: sticky;
    top: 0;
    background-color:#121212;
}

.all-btn {
    width: 2.5rem;
    border-radius: 20px;
    border-style: none;
    height: 2rem;
    &:hover {
        background-color: #ffffffe3;
    }
}

.music-btn {
    width: 3.5rem;
    border-radius: 20px;
    border-style: none;
    height: 2rem;
    background-color:#ffffff25;
    color: white;
    margin-left: 0.5rem;
    &:hover {
        background-color: #393939;
    }
}

.podcasts-btn {
    width: 5rem;
    border-radius: 20px;
    border-style: none;
    height: 2rem;
    background-color:#ffffff25;
    color: white;
    margin-left: 0.5rem;
    &:hover {
        background-color: #393939;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.heading {
    margin: 0.75rem 0 0.75rem 0.75rem;
}

.card {
    margin-bottom: 2rem;
    padding: 0.75rem 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #242424;
    }
}

.card img {
    height: 10rem;
    width: 9.5rem;
    border-radius: 5px;
}

.card p {
    margin: 0.75rem 0 0 0;
    line-height: 1.5;
    font-size: 0.9rem;
    width: 9.4rem;
    color: #ffffffbd;
}

.card h4 {
    margin: 0.5rem 0;
}

.music-player {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    margin-right: 0.5rem;
}

.player {
    width: 50%;
}

.control {
    width: 25%;
}

.player-control-icon {
    height: 1rem;
    margin-left: 1.75rem;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    margin: 0 0.5rem;
}

.progress-bar {
    width: 75%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    &::-webkit-slider-runnable-track {
        background-color: #ddd;
        border-radius: 100px;
        height: 0.2rem;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        height: 1rem;
        width: 1rem;
        border-radius: 100px;
        background-color: #1bd760;
        margin-top: -6px;
    }
}

.album {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
}

.album-pic {
    height: 3rem;
    width: 3rem;
}

.album-details p:nth-child(1){
    font-size: 0.8;
    font-weight: 500;
}

.album-details p:nth-child(2){
    font-size: 0.65rem;
    opacity: 60%;
}

.album-details {
    line-height: 4px;
}

.album-pic, .album-details, .icon-1, .icon-2 {
    margin: 0 .5rem;
}

.vol-bar {
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    width: 7rem;
    &::-webkit-slider-runnable-track {
        background-color: #fff;
        border-radius: 100px;
        height: 0.2rem;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        margin-top: -6px;
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
        background-color: #1bd760;
    }
}

.control {
    display: flex;
    justify-content :end;
    align-items: center;
    margin: 0 0.5rem;
}

.control-icons .fa-solid, .control-vol .vol-bar {
    margin: 0 0.25rem;
    opacity: 70%;
    cursor: pointer;
    &:hover {
        opacity: 100%;
    }
}

.control-icons {
    display: flex;
    justify-content: center;
}

.vol-bar {
    margin-top: -6px;
}

.scr-control {
    display: flex;
    justify-content: space-evenly;
    width: 4rem;
    cursor: pointer;
}

.scr-control img{
    height: 1rem;
}